* { 
  box-sizing: border-box; 
}

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #001359 45%, #000000 55%);
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
}

img {
  float: right;
}

header { 
  color: #FFFFFF;
  font-family: Georgia, serif;
  padding: .5em;
}

#background {
  background-image: url(https://img.freepik.com/free-vector/motherboard-circuit-technology-background-vector-gradient-blue_53876-126034.jpg);
  background-size: 100%;
}

img {
  padding: 10px;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

h2 { 
  color: #032BD0;
  font-family: Georgia, serif; 
}

h3 { 
  font-family: Georgia, serif; 
}

nav { 
  font-family: Georgia, serif; 
  font-weight: bold;
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

ul li a {
  color: red;
}

nav a:link {
  color: #FFFFFF;
}
nav a {
  text-decoration: none;
}

nav a 
{ text-decoration: none;
  text-shadow:
      3px 3px 0 #000,
      -3px 3px 0 #000,
      -3px -3px 0 #000,
      3px -3px 0 #000;}
h4 a:link 
{ color: white; }
h4 a:visited
{ color: white; }
h4 a:hover     
{ color: #A52A2A; }
nav a:link       
{ color: white; }
nav a:visited 
{ color: white; }
nav a:hover     
{ color: #A52A2A; }

main { 
  padding: 1em 1em 1em 0; 
  background-color: #FFFFFF;
  width: 85%;
  opacity: .8;
  margin-left: auto;
  margin-right: auto;
}

#name {
  text-align: center;
  text-decoration: none;
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

#wrapper {
  width: 80%;
  margin: auto;
}

footer { 
  clear: both;  
  height: 100%;
  font-size: .70em;
  font-style: italic;
  padding: 1em;
  text-align: center;
  color: white;
  background-color: #000000;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: .5em 2em;
  margin-left: 8px;
  margin-right: 8px;  
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  display: inline-block;
  height: 45px;
  padding: .5em 2em;
  margin-left: 8px;
  margin-right: 8px;  
}

@media (max-width: 450px) {
  .toggle-button {
    display: flex;
  }
  
  .navbar-links {
    display: grid;
    width: 100%;

  }
   
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .navbar-links li a {
    padding: .5rem 1rem;
  }
}

@media (max-width: 450px) {
  #background{
    height: 13rem;
  }
  
  h2, h4 {
    text-align: center;
  }
  
  nav {
    order: 1;
  }
  
  header {
    order: 2;
  }
  
  main {
    width: 100%;
    order: 3;
  }
  
  footer {
    order: 4;
  }
  
  nav li {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: .5rem 1rem;
  }
}

@media (max-width: 575px) {
  .adjust {
    display: flex;
    justify-content: center;
  }
  
  .right {
    float: none;
    display: block;
    padding: 2px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5%;
    border: .5 solid #504E53;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 1.5rem;
  }
}
